// dot
%dot{
  content: '';
  @include position-absolute(auto, auto);
  width: 10px;
  height: 10px;
  background-color: $light-color;
  border-radius: 50%;
}

%dot-column{
  position: relative;
    
    &::after{
      @extend %dot;
      bottom: -50px;
      box-shadow: 0 30px, 0 60px;
    }
}

%dot-row{
  position: relative;

  &:last-child::after{
    @extend %dot;
    top: -75px;
    box-shadow: 30px 0, -30px 0;
  }
}