// hover collection's picture
%hover-picture{
  @include position-absolute(0, 0);
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-color;
  font: {
    family: $primary-font;
    size: 50px;
  }
  opacity: 0;
  transition: opacity 1s;
  
  &:hover{
    opacity: 0.6;
  }
}