// link: contact, back-to-top
%link{
  padding: 10px;
  display: block;
  width: 200px;
  font-size: 20px;
  text-align: center;
  &:hover{
    color: $primary-color;
    font-weight: bold;
  }
}

%link-dark{
  @extend %link;
  background-color: $dark-color;
  color: $light-color;
}

%link-light{
  @extend %link;
  background-color: $light-color;
  color: $dark-color;
}