// link: contact, back-to-top
%link{
  padding: $spacing-basic;
  display: block;
  width: 200px;
  font-size: 20px;
  text-align: center;
}

%link-dark{
  @extend %link;
  background-color: $dark-color;
  color: $light-color;
}

%link-light{
  @extend %link;
  background-color: $light-color;
  color: $dark-color;
}