// navbar
%nav{
  font-size: 0;
  text-align: center;
}

%nav-item{
  display: inline-block;
  padding: 20px 10px;
  color: $nav-item-color;
  font-size: 16px;

  &:hover{
    color: $light-color;
    font-weight: bold;
  }
}