// about company
.about{
  padding: 50px 0 20px;
  background-image: url(../image/sea-horse-bg.jpg);
  @extend %backgound-image;
  
  .about-group{
    margin: 0 auto;
    width: 85%;
  }
  
  .about-box{
    @extend %dot-row;
    color: $light-color;
    
    @include mediaquery-tablet-P {
      position: static;
      //因父層不再是相對定位，兩個.about-box之間的dot將無法顯示出絕對定位的偽元素
    }
  }

  .about-box + .about-box,
  .about-item + .about-item{
    margin-top: 150px;
  }

  .about-item{
    padding: 0 50px;
    @extend %dot-row;

    p + p{
      margin-top: 20px;
    }
  }

  .back-to-top{
    .link{
      margin: 100px auto 0;
      @extend %link-light-background;
    }
  }
}