// about company
.about{
  padding: 50px 0 20px;
  background-image: url(../image/sea-horse-bg.jpg);
  @extend %backgound-image;
  
  &-group{
    margin: 0 auto;
    width: 85%;  
  }
  
  &-box{
    @extend %dot-row;
    color: $light-color;
    
    @include mediaquery-tablet-P {
      position: static;
      //因父層不再是相對定位，兩個.about-box之間的dot將無法顯示出絕對定位的偽元素
    }
  }

  &-box + &-box{
    margin-top: 150px;

    @include mediaquery-tablet-P {
      margin-top: 200px;
    }
  }

  &-item{
    @extend %dot-row;
    @include mediaquery-tablet-P {
      padding: 0 50px;
    }

    p + p{
      margin-top: 20px;
    }
  }

  &-item + &-item{
    margin-top: 150px;
  }

  .back-to-top{
    .link{
      margin: 100px auto 0;
      @extend %link-light;
    }
  }
}