//footer copyright
footer{
  padding: 40px 0;
  background-color: $footer-background-color;
  text-align: center;

  p{
    @include mediaquery-mobile-L {
      display: inline-block;
    }
  }

  a{
    color: $primary-color;
    cursor: pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}