// font-family
$primary-font: 'Inria Serif', serif;
$secondary-font: 'Playball', cursive;
$basic-font: 'Noto Serif', serif;

// font-style
@mixin font-style($size, $weight){
  font: {
    size: $size;
    weight: $weight;
  }
  @content;
}

h1{
  @include font-style(60px, 700){
    color: $light-color;
    font-family: $primary-font;
  }
  span{
    font-family: $secondary-font;
  }
}

h2{
  @include font-style(40px, 300){
    letter-spacing: 2px;
    font-family: $basic-font;
  }
}

h3{
  @include font-style(25px, 300){
    font-family: $basic-font;
  }
}

h4{
  @include font-style(20px, 300){
    font-family: $basic-font;
  }
}

h5{
  @include font-style(20px, 300);
}