// position absolute
@mixin position-absolute($top, $bottom){
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: $top;
  bottom: $bottom;
  z-index: 2;
}

// mediaquery
// mobile-Portrait: 320px
@mixin mediaquery-mobile-P {
  @media (min-width: $mobile-P) {
    @content;
  }
}
// mobile-Landscape: 576px
@mixin mediaquery-mobile-L {
  @media (min-width: $mobile-L) {
    @content;
  }
}
// tablet-Portrait :768px
@mixin mediaquery-tablet-P {
  @media (min-width: $tablet-P) {
    @content;
  }
}
// tablet-Landscape: 992px
@mixin mediaquery-tablet-L {
  @media (min-width: $tablet-L) {
    @content;
  }
}
// desktop: 1200px
@mixin mediaquery-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
