// color
$primary-color: #FF0048;
$light-color: #fff;
$dark-color: #000;
$none-color: transparent;
$hover-picture-color: rgba(255, 0, 72, .5);
$hover-font-color: rgba(54, 9, 54, .8);
$nav-item-color: #FF5E8A;
$header-background-color: #360936;
$footer-background-color: #eee;

// spacing
$spacing-basic: 10px;
$spacing-large: 100px;

// font-family
$title-font: 'Inria Serif', serif;
$subtitle-font: 'Playball', cursive;
$primary-font: 'Noto Serif', serif;

// break points: 直式螢幕 Portrait, 橫式螢幕 Landscape
$mobile-P: 320px;
$mobile-L: 576px;
$tablet-P: 768px;
$tablet-L: 992px;
$desktop: 1200px;
