// color
$primary-color: #FF0048;
$light-color: #fff;
$dark-color: #000;
$none-color: transparent;
$hover-picture-color: rgba(255, 0, 72, .5);
$nav-item-color: #FF5E8A;
$header-background-color: #360936;
$footer-background-color: #eee;
