// font-family
$title-font: 'Inria Serif', serif;
$subtitle-font: 'Playball', cursive;
$primary-font: 'Noto Serif', serif;

// font-style
%font-style {
  font: {
    family: $primary-font;
    weight: 300;
  }
}

h1{
  color: $light-color;
  font: {
    family: $title-font;
    size: 60px;
    weight: 700;
  }
  span{
    font-family: $subtitle-font;
  }
}

h2{
  @extend %font-style;
  font-size: 40px;
  letter-spacing: 2px;
}

h3{
  @extend %font-style;
  font-size: 25px;
}

h4{
  @extend %font-style;
  font-size: 20px;
}

h5{
  font-size: 20px;
  font-weight: 300;
}